@scenario-dark: #121619;
@scenario-grey: #f2f4f8;
@scenario-grey-dark: #4d5358;
@scenario-blue: #007aff;
@scenario-green: #34c759;

.lab-scenario {
  .lab-scenario-banner {
    font-size: 1.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 1.875rem;
  }

  .lab-scenario-card {
    padding: 2.5rem 7.2rem 5rem;
    color: @scenario-dark;
    letter-spacing: 0.14px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
    background: @white-color;

    .scenario-intro {
      font-size: 0.875rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0.14px;
      margin-bottom: 2rem;

      h2 {
        font-size: 1.125rem;
        font-weight: bold;
        margin-bottom: 0.8rem;
      }
    }

    // General timeline styling
    .ant-timeline.ant-timeline-label {
      .ant-timeline-item-label {
        width: 10%;
      }

      .ant-timeline-item-left .ant-timeline-item-content {
        left: 12%;
        width: 88%;
      }

      .ant-timeline-item-tail,
      .ant-timeline-item-head {
        left: 14%;
      }

      .ant-timeline-item-tail {
        border-left: 2px dashed @scenario-grey;
      }

      .ant-timeline-item-head {
        border-width: 8px;
        margin-left: -6px;
      }
    }

    // Steps
    .steps {
      margin-top: 3rem;
    }

    // Step Label
    .step-label {
      font-size: 0.8rem;
      letter-spacing: 0.2px;
      line-height: 1.42;

      .step-label-index {
        font-size: 1.25rem;
        font-weight: bold;
      }
    }

    // Step
    .step {
      cursor: pointer;
      margin-bottom: 5rem;
      display: flex;
      flex-direction: row;
      padding-left: 1.5rem;

      .step-image {
        border-radius: 6px;
        width: 12rem;
        margin-right: 1.625rem;
      }

      .step-name {
        display: flex;
        flex-direction: row;
        margin-top: 0.375rem;
        margin-bottom: 0.875rem;

        h3 {
          color: @scenario-blue;
          text-transform: uppercase;
          font-size: 0.875rem;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: 0.14px;
        }

        .completed {
          position: relative;
          top: -3px;
          font-size: 0.75rem;
          line-height: 1.4;
          letter-spacing: 0.19px;
          text-align: center;
          color: white;
          background-color: @scenario-green;
          padding: 0.25rem 1.625rem 0;
          margin-left: 0.5rem;
          border-radius: 1rem;
        }
      }

      .step-description {
        font-size: 0.875rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.14px;
        margin-bottom: 0.875rem;
      }

      .step-meta {
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 100%;

        .ant-rate-star {
          margin-right: 0;
          height: 0.85rem;

          .anticon {
            width: 0.85rem;
            font-size: 0.85rem;
          }
        }

        .meta-text {
          font-size: 0.75rem;
          font-weight: 500;
          color: @scenario-grey-dark;
          padding-left: 10px;
          text-align: center;
          margin-top: 6px;
        }

        > div::after {
          content: '\00b7';
          padding-left: 10px;
        }

        > div:first-child {
          padding-left: 0;
        }

        > div:last-child::after {
          content: none;
        }
      }
    }
  }

  .lab-scenario-footer {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 3.031rem;
    margin-top: 1.875rem;

    .title {
      font-weight: bold;
      margin-bottom: 0.5rem;
      font-size: 0.75rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.42;
      letter-spacing: 0.19px;
      text-align: left;
      color: @scenario-grey-dark;
      width: 100%;
    }

    .content {
      font-weight: normal;
      line-height: 1.42;
      letter-spacing: 0.14px;
      letter-spacing: 0.19px;
      color: @scenario-grey-dark;
    }
  }
}
