@import '../../variables.less';
@import '../../responsive';

.assessment-detail {
  //custom ant
  .tabs {
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 @assessment-detail-shadow-color;
    background-color: @white-color;

    .ant-col {
      width: 100%;

      .ant-tabs-nav {
        height: 3.5rem;
        margin: 0;

        .ant-tabs-tab {
          margin: 0;
          padding: 0 1rem;
        }

        .ant-tabs-nav .ant-tabs-tab {
          font-size: 0.875rem;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: 0.14px;
          text-align: center;
          color: @primary-text-color;
        }
      }
    }
  }

  //anchor
  .domain-anchor {
    .domain-anchor-detail {
      margin-top: 2.825rem;

      .ant-anchor {
        font-size: 0.8125rem;
      }

      .toc {
        .ant-affix {
          margin-top: 2rem;
        }
      }
    }
  }

  //custome ant

  //banner
  .banner {
    margin: 1.875rem 0;

    .banner-title {
      margin-left: 10px;

      .title {
        font-size: 1.5rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: normal;
        text-align: left;
        color: @primary-text-color;
      }
    }

    .view-report-button {
      cursor: pointer;
      width: 11.938rem;
      height: 2.25rem;
      border-radius: 4px;
      box-shadow: 0 3px 6px 0 @assessment-detail-shadow-color-btn;
      background-color: @assessment-detail-btn-bg;
      font-size: 0.813rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.46;
      letter-spacing: 0.13px;
      text-align: center;
      color: @white-color;
      margin: 0;
    }
  }
  //

  //content
  .tab-domain {
    margin: 0;

    .questions {
      padding: 0;
    }

    .list-content {
      // margin: 2.825rem 6.875rem;
      .sub-domain {
        margin-bottom: 3rem;
      }

      .title-subdomain {
        font-size: 1.125rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 0.18px;
        text-align: left;
        color: @primary-text-color;
      }

      .content-question {
        font-size: 0.875rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.14px;
        text-align: left;
        color: @primary-text-color;
        margin: 12px 0;
      }

      .ant-radio-group {
        width: 100%;

        .answer {
          background-color: @assessment-detail-answer;
          margin-top: 0.5rem;
          border-radius: 5px;

          .ant-radio {
            margin-right: 1rem;
          }

          .radio-button {
            padding: 1rem;
            font-size: 0.875rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.14px;
            text-align: left;
            white-space: normal;
          }
        }
      }
    }
  }

  .disclaimer {
    .title {
      font-weight: bold;
      margin-bottom: 0.5rem;
      font-size: 0.75rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.42;
      letter-spacing: 0.19px;
      text-align: left;
      color: #4d5358;
    }

    .content-question {
      font-weight: normal;
      font-size: 0.75rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.42;
      letter-spacing: 0.19px;
      text-align: left;
      color: @assessment-detail-question-bg;
    }
  }
}
