.labdetail-card {
  & .ant-card-body {
    padding: 0px;
    & .ant-row > [class*="ant-col-"] {
      margin: 0 0px;
    }

    & .labdetail-card_left {
      padding-right: 0px;
      & .ant-tabs-nav-list {
        width: 100%;
        border-right: 1px solid #e8e8e8;
        height: 3.688rem;

        & .ant-tabs-tab {
          margin-right: 6.628rem;
          & .ant-tabs-tab-btn {
            font-size: 0.875rem;
          }
        }
      }

      & .business-story,
      .guidance {
        font-size: 0.875rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.14px;
        text-align: left;
        color: #121619;

        & .info-highlight {
          font-weight: bold;
        }
      }
    }

    & .labdetail-card_right {
      padding-left: 0px;
      & .labdetail-card_right_header {
        font-size: 0.875rem;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        height: 3.688rem;
        display: flex;
        flex: 1 100%;

        & .labdetail-cloud-accounts {
          font-size: 0.875rem;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          & .select-cloud-account {
            width: 100%;
            text-align: center;

            & .ant-select-selector {
              border: none;
              height: 34px;
            }
          }
        }

        & .labdetail-start-lab,
        .labdetail-creating-lab,
        .labdetail-fail-lab {
          color: #ffffff;
          background-color: #34c759;
          font-size: 0.875rem;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          & button {
            border-radius: 0;
            background-color: #34c759 !important;
            border-color: #34c759 !important;
            height: 100%;
            width: 100%;
            margin-bottom: 0;
          }
        }

        & .labdetail-end-lab {
          color: #ffffff;
          font-size: 0.875rem;
          width: 50%;
          display: flex;
          align-items: center;
          flex-direction: column;
          & button {
            margin-bottom: 0;
            margin-right: 0;
            margin-top: 3px;
          }

          & .ant-statistic-content {
            display: flex;

            & .ant-statistic-content-value {
              font-size: 15px;
            }
          }
        }
      }

      & .labdetail-card_right_content {
        display: flex;
        flex-direction: column;
        & .lab-detail-resource {
          display: flex;
          flex-direction: column;
          margin: 20px;
        }

        & .table-of-content {
          margin: 20px;
        }
      }
    }
  }
}

.labdetail-banner {
  margin-bottom: 1.875rem;
  & .labdetail-nav-bar {
    & .labdetail-nav-bar_title {
      font-size: 1.5rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #121619;
    }
  }
}

.labDetail-footer {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 3.031rem;
  & .title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.19px;
    text-align: left;
    color: #4d5358;
    width: 100%;
  }
}
