.lg-tabs-wrapper {
  .ant-tabs-nav,
  .ant-tabs-content-holder {
    padding-left: 6.188rem;
  }
}

html {
  font-size: 12px;
}
.landingpage .values .values-item {
  height: 36rem !important;
  margin-bottom: 2rem;
}
.landingpage .journey.journey-text .journey-text-item {
  height: 215px;
}
.landingpage .services .services-item {
  height: 11rem !important;
}
