html {
  font-size: 16px;
}
.landingpage .values .values-item {
  height: 38rem !important;
  padding: 1.5rem 2rem !important;
}
.landingpage .journey.journey-text .journey-text-item {
  height: 285px;
}
.landingpage .footer .product-by {
  display: block;
}
.landingpage .services .services-item {
  height: 10rem !important;
}
