// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 6 times
@color1: #c7cbd1; // Appears 2 times
@color2: #007aff; // Appears 2 times
@color3: #288ad6; // Appears 2 times
@color4: #e2742a; // Appears 2 times
@color5: #13a300; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width1: 100%; // Appears 4 times

.lab {
  display: flex;
  justify-content: space-between;
  height: 3em;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #ffffff;
  background-color: #ffffff;
  margin-bottom: 2.063rem;

  .lab-search {
    width: 20%;
    position: relative;

    .search-input {
      width: 100%;
      height: 100%;
      border: solid 10px transparent;
      border-radius: 0;
      padding-left: 25px;
    }

    .search-icon {
      position: absolute;
      top: 15px;
      left: 15px;
      cursor: pointer;
    }
  }

  .lab-filter {
    width: 75%;
    display: flex;
    justify-content: flex-start;

    .lab-filter-type {
      width: 33.66%;

      .dropdown-button {
        background-color: @color0;
        border: solid 10px transparent;
        height: 100%;
        width: @width1;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        .filter-icon {
          cursor: pointer;
          fill: @color2;
          height: 1.2rem;
        }

        .dropdown-text {
          display: -ms-flexbox;
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          font-size: 0.9rem;
          justify-content: space-between;
          line-height: 1.2rem;
          margin: 0 10px;
        }
      }
    }
  }

  .lab-loading {
    width: 5%;
    cursor: pointer;
    border-left: 1px solid #f0f0f0;
    padding-top: 8px;

    .lab-loading-ion {
      font-size: 24px;
      color: @color2;
    }
  }
}

.filter-items {
  background-color: @color0;
  width: @width1;

  .filter-item-content {
    padding: 10px;

    .checkbox-group {
      width: @width1;

      .checkbox-item {
        margin-bottom: 5px;
      }
    }
  }
}

.lab-search-filter {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 8% 1em 8%;

  .lab-search {
    border-radius: 20px;
    border: 1px solid @color1;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    width: 30%;

    .search-input {
      border: 0;
      margin-left: 15px;
      width: 90%;

      &:focus {
        outline: none;
      }
    }

    .search-icon {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;
      text-align: center;

      .icon {
        fill: @color2;
      }
    }
  }

  .lab-filter {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;

    .lab-filter-type {
      margin: 0 10px;
      position: relative;
      width: @width1;

      .filter-items {
        background-color: @color0;
        border-radius: 5px;
        box-shadow: 0 1px 2px 1px #d6d1d1;
        position: absolute;
        width: @width1;
        z-index: 1;

        .filter-item-content {
          padding: 10px;

          .checkbox-group {
            width: @width1;

            .checkbox-item {
              margin-bottom: 5px;
            }
          }
        }
      }

      .dropdown-button {
        background-color: @color0;
        border-radius: 20px;
        border: 1px solid @color1;
        height: 100%;
        width: @width1;

        &:focus {
          outline: none;
        }

        .filter-icon {
          cursor: pointer;
          fill: @color2;
          height: 1.2rem;
        }

        .dropdown-text {
          display: -ms-flexbox;
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          font-size: 0.9rem;
          justify-content: space-between;
          line-height: 1.2rem;
          margin: 0 10px;
        }
      }
    }
  }
}

.choosed-filter {
  margin: 0 8% 1em 8%;
  padding: 0 10px;

  .category-button {
    background-color: @color3;
    border-radius: 5px;
    border: 1px solid @color3;
    color: @color0;
    margin: 0 5px 5px 0;

    .choosed-filter-text {
      margin: 0 5px;

      .x-icon {
        fill: @color0;
      }
    }
  }

  .vendor-button {
    background-color: @color4;
    border-radius: 5px;
    border: 1px solid @color4;
    color: @color0;
    margin: 0 5px 5px 0;

    .choosed-filter-text {
      margin: 0 5px;
    }
  }

  .level-button {
    background-color: @color5;
    border-radius: 5px;
    border: 1px solid @color5;
    color: @color0;
    margin: 0 5px 5px 0;

    .choosed-filter-text {
      margin: 0 5px;
    }
  }
}

.category-filter {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.category-width-box {
  width: 380px !important;
}

.visible {
  display: none;
}

.gx-product-item {
  cursor: pointer;
}
