@import '../variables.less';

.assessment-selection-modal {
  .ant-modal-title {
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.18px;
    color: @primary-text-color;
  }

  .assessment-selection {
    .assessment-item-row {
      .assessment-item-title {
        font-size: 0.8125rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.46;
        letter-spacing: 0.13px;
        text-align: center;
        color: @primary-text-color;
      }

      .assessment-icon {
        width: 100px;
        height: 100px;
        object-fit: contain;
        border-radius: 6px;
        border: solid 1px @assessment-selection-shadow;
        background-image: linear-gradient(to top, @white-color, @assessment-selection-bg);
        margin-bottom: 14px;

        &:hover {
          box-shadow: 0 3px 6px 0 @assessment-selection-shadow;
          cursor: pointer;
        }
      }
    }
  }
}
