.reviewlab {

    .ant-card-body{
        padding-left: 50px;
        padding-right: 50px;
    }

    .ant-tabs-nav{
        margin-bottom: 40px;
        margin-top: -14px;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.14px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
    
  }