.@{class-prefix}-main-content-wrapper {
  padding: 2rem 0 0 0 !important;

  .@{class-prefix}-page-layout {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
}

.ant-menu-submenu-title {
  padding-left: 30px !important;
}

.ant-layout-sider-collapsed {
  .apps-navigation {
    display: none;
  }

  .@{class-prefix}-avatar-row {
    .ant-avatar {
      left: -5px;
    }
  }
}
