.akac-header-horizontal-dark {
  background-image: url(../../assets/images/bg.png), linear-gradient(@header-bg-top, @header-bg-bot);
  background-position: center;
  background-size: cover;
  position: relative;

  .akac-header-horizontal-nav {
    background-color: transparent;
    .gx-header-notifications {
      cursor: pointer;
      font-size: 0.875rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.14px;
      text-align: left;
      color: @header-icon-color;
      &:hover {
        color: @white-color;
      }
      .akac-header-contributor-icon {
        margin-right: 7px;
      }
    }
  }
}

.akac-header-search {
  .flex-display(flex, row, nowrap);
  margin-left: 4.125rem;
  .gx-search-bar {
    border-radius: 3px;
    border: solid 1px @header-search-border;
    > .gx-form-group {
      > .ant-input {
        border-radius: 3px;
        color: @white-color;
      }
    }
  }
  .gx-search-bar input[type="search"] {
    background-color: @header-search-bg;
    height: 2.188rem;
    &:focus {
      background-color: @header-search-bg-focus;
    }
  }
  .gx-lt-icon-search-bar-lg .gx-search-icon {
    height: 2.188rem;
    line-height: 40px;
  }
}

.akac-header-notifications {
  list-style: none;
  margin: 0;
  padding-left: 0;
  .flex-display(flex, row, wrap);
  .align-items(center);
  .login-btn {
    margin: 0;
    background-color: @header-icon-color;
    border: solid 1px @header-icon-color;
    color: @white-color;
    width: 5rem;
    font-size: 0.813rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: 0.13px;
  }
  .login-btn-container {
    text-align: end;
  }
  & > li {
    font-size: 18px;

    &:not(:last-child) {
      margin-right: 42px;

      .@{class-prefix}-inside-header-horizontal & {
        margin-right: 20px;
      }

      .@{class-prefix}-header-horizontal-main &,
      .@{class-prefix}-header-horizontal-nav & {
        margin-right: 30px;

        @media screen and (max-width: @screen-md-max) {
          margin-right: 16px;
        }
      }

      @media screen and (max-width: @screen-md-max) {
        margin-right: 16px;
      }
    }

    &.@{class-prefix}-notify {
      margin-right: 22px;

      .@{class-prefix}-header-horizontal-main & {
        margin-right: 30px;

        @media screen and (max-width: @screen-md-max) {
          margin-right: 16px;
        }
      }

      .@{class-prefix}-inside-header-horizontal & {
        margin-right: 20px;
      }

      @media screen and (max-width: @screen-md-max) {
        margin-right: 16px;
      }
    }

    @media screen and (max-width: @screen-xs-max) {
      &.@{class-prefix}-notify,
      &.@{class-prefix}-msg {
        margin-top: 2px;
      }

      &.@{class-prefix}-language {
        margin-bottom: 2px;
      }
    }

    &.@{class-prefix}-user-nav {
      font-size: 0.75rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: 0.12px;
      text-align: center;
      color: @white-color;
      .@{class-prefix}-header-horizontal-main & {
        @media screen and (max-width: @screen-md-max) {
          margin-left: 0;
        }

        .@{class-prefix}-inside-header-horizontal & {
          @media screen and (max-width: @screen-lg-max) {
            margin-left: 0;
          }
        }
      }
    }
  }
  .gx-pointer > i {
    color: @header-icon-color;
    &:hover {
      color: @white-color;
    }
  }
  .header-icon {
    color: @header-icon-color;
    &:hover {
      color: @white-color;
    }
  }
  .user-info {
    justify-content: flex-end;
    .avatar-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
    .icon-chevron-down {
      vertical-align: middle;
    }
  }
}
.akac-header-dropdown-menu {
  width: 100% !important;
  text-align: left;
  padding: 8px 20px !important;
  color: @header-link;
  font-size: 0.825rem;
}
