.lab-detail {
  h1 {
    font-size: 1.25rem;
    line-height: 1.313rem;
    margin-top: 1.25rem;
    text-transform: uppercase;
    font-weight: 500;
    &:first-child {
      margin-top: 0;
    }
  }
}
