.md-viewer {
  * {
    font-size: 0.875rem;
  }
  p {
    text-align: justify;
  }
  h2,
  h3,
  h4 {
    text-transform: uppercase;
    font-weight: 500;
  }
  h2 {
    font-size: 1.1rem;
    line-height: 1.213rem;
    margin-top: 1.1rem;
    &:first-child {
      margin-top: 0;
    }
  }
  h3 {
    font-size: 1rem;
  }
  pre {
    border-left-color: @md-viewer-border-color;
    border-right-color: @md-viewer-border-color;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    border-left-style: solid;
    border-left-width: 15px;
    border-right-style: solid;
    border-right-width: 2px;
    -moz-box-shadow: 2px 2px 15px @md-viewer-shadow-color;
    -webkit-box-shadow: 2px 2px 15px @md-viewer-shadow-color;
    box-shadow: 2px 2px 15px @md-viewer-shadow-color;

    code {
      color: @md-viewer-code-color;
      font-family: monospace;
    }
  }
}
