.@{class-prefix}-app-nav {
  li {
    padding-right: 0.8rem;
    a {
      color: @nav-dark-logo-color;
    }
  }
  .ant-layout-sider .ant-menu-submenu > .ant-menu.ant-menu-sub .ant-menu-item {
    padding-left: 4rem !important;
  }
}

.@{class-prefix}-sidebar-notifications {
  padding-top: 20px !important;
}

.apps-navigation {
  color: #ffffff;
  margin-left: 1rem;
  &:hover, :focus {
    color: @nav-dark-logo-color;
  }
}

.menu {
  margin-left: 0;
}
