.akac-header-horizontal-dark {
  .ant-menu-horizontal {
    border: 0;
    .ant-menu-item-selected,
    .ant-menu-item-active,
    .ant-menu-submenu-active {
      color: @header-icon-color !important;
      border-bottom: 3px solid @header-icon-color;
      border-radius: 0;
    }
    .ant-menu-item,
    .ant-menu-submenu-title {
      border-radius: 0;
      font-size: 0.875rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.14px;
      text-align: left;
      color: @white-color;
      margin: 0;
      padding: 0 20px;
    }
  }
}
