.ant-layout-content {
    // background-color: @white;
}
.ant-btn-lg {
    min-width: 15rem;
    min-height: 3.125rem;
}
.ant-btn-secondary {
    color: #121619;
    background-color: @secondary-color !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    &:hover,
    &:focus {
        color: #121619;
        box-shadow: none;
    }
}
.ant-btn-success {
    color: white;
    background-color: #34c759 !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    &:hover,
    &:focus {
        color: white;
        box-shadow: none;
    }
}