@primary: #007aff;
@blue-light: #5ac8fa;
@blue: #0054a8;
@blue-dark: #072b53;
@text-dark: #121619;
@grey-light: #f2f4f8;
@grey: #dde1e6;
@grey-copy: #a2a9b0;
@grey-dark: #4d5358;
@white: #fff;
@yellow: #ffcc00;

@font-xs: 0.75rem;
@font-sm: 0.875rem;
@font-md: 1rem;
@font-lg: 1.125rem;
@font-xl: 1.5rem;
@font-xxl: 2.25rem;

body {
    font-family: InterUI;
    background-color: @white;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: @text-dark;
    letter-spacing: 0.14px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: @text-dark;   
}
#root {
    overflow-x: hidden;
}

.landingpage {
    .mobile-layout {
        display: none;
    }
    .ant-carousel .slick-dots li button {
        background: @primary;
    }
    .ant-carousel .slick-dots li.slick-active button {
        background: @blue;
    }

    .header {
        height: 22rem;
        background: @blue-dark;
        background: linear-gradient(to top, @blue, @blue-dark);
        background: url(/bg.png), linear-gradient(to top, @blue, @blue-dark);
        color: @white;

        .header-top {
            margin: 2rem 0 1.3rem;
        }

        .ant-menu-horizontal {
            border: 0;
            border-top: 1px solid #2A4770;

            .ant-menu-item {
                padding: 0 1.2rem;
                font-size: @font-sm;
                text-align: center;
                border-top: 2px solid transparent;
                border-bottom: 0;
                text-transform: uppercase;
                font-weight: normal;

                > a {
                    color: @white;
                }
            }

            .ant-menu-item:hover, .ant-menu-item-selected {
                border-bottom: 0;
                border-top: 2px solid @blue-light;
                font-weight: bold;

                > a {
                    color: @blue-light;
                }
            }
        }
        .menu-vertical {
            display: none;
        }
        .akac-logo {
            text-align: left;
        }
    }
    .slider {
        margin-top: -12.5rem;
        .ant-carousel {
            box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
            .slick-slider {
                top: 4px;
            }
        }

        .slide {
            position: relative;

            .slide-image {
                height: 32rem;
            }
            .slide-text {
                color: @text-dark;
                background-color: rgba(255, 255, 255, .8);
            }
            @supports ((-webkit-backdrop-filter: blur(30px)) or (backdrop-filter: blur(30px))) {
                .slide-text {
                    -webkit-backdrop-filter: blur(30px);
                    backdrop-filter: blur(30px);
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
            .slide-text {
                position: absolute;
                top: 6.875rem;
                left: 0;
                width: 36.875rem;
                height: 20.75rem;
                padding: 4.5rem;

                h1 {
                    font-size: @font-xl;
                    font-weight: bold;
                    margin-bottom: 1.3rem;
                }
                p {
                    font-size: @font-sm;
                }
            }
        }
        .slick-dots {
            position: relative;
            top: 2.5rem;
        }
    }
    .services {
        .services-title {
            margin: 2.5rem 0 3rem;
            text-align: center;
            h2 {
                font-size: @font-xl;
                font-weight: bold;
                margin: 0.75rem;
            }
            p {
                font-size: @font-lg;
            }
        }
        .services-tab {
            height: auto;
            p {
                word-break: break-word;
                white-space: break-spaces;
                line-height: 1.3;
                padding: 1rem 0;
                margin-bottom: 0;
            }
            &.ant-menu-item-selected {
                font-weight: bold;
            }
        }
        .services-slide {
            position: relative;

            .service-slide-text {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                letter-spacing: 0.19px;
                padding: 2.5rem 2.75rem;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);

                h6 {
                    margin-top: auto;
                    font-size: @font-xl;
                    font-weight: bold;
                    color: @white;
                    letter-spacing: 0.24px;
                }

                p {
                    font-size: @font-xs;
                    color: @white;
                    letter-spacing: 0.19px;
                }
            }
        }
        .services-item {
            padding: 1.125rem 0.8rem;
            // margin-bottom: 1.25rem;
            text-align: center;
            border-radius: 4px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
            border: solid 1px @grey;
            background-color: @white;
            height: 10rem;

            .services-item-icon {
                margin-bottom: 1rem;
            }

            h3 {
                font-size: @font-sm;
                color: @primary;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p {
                font-size: @font-xs;
                color: @grey-dark;
                letter-spacing: 0.19px;
                // white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 2rem;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                margin: 0;
            }

            &:hover {
                background-color: @primary;
                transition: all 1s ease;

                .services-item-icon {
                    display: none;
                }

                h3, p {
                    color: @white;
                    white-space: inherit;
                    overflow: inherit;
                    overflow: inherit;
                    -webkit-line-clamp: inherit;
                    -webkit-box-orient: inherit;
                    display: inherit;
                    height: auto;
                    text-overflow: unset;
                }
            }
        }

        .partners {
            // display: flex;
            // justify-content: center;
            img {
                width: 100%;
            }

            .partners-section {
                position: relative;
                top: -1rem;
                text-align: center;
                hr {
                    color: #dde1e6;
                    border-color: #dde1e6;
                    background-color: #dde1e6;
                }
                span {
                    padding: 0 0.5rem;
                    position: relative;
                    top: -1.6rem;
                    background: white;
                    font-size: @font-xs;
                    text-transform: uppercase;
                }
            }
        }
    }
    .download-offering {
        border-left: 6px solid @blue-light;
        width: 100%;
        // height: 5rem;
        background-color: #f2f4f8;
        background-image: url('/landing/download-offering.png');
        background-size: cover;
        padding: 1.375rem 1.25rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3.375rem;

        .download-text {
            margin-left: 9rem;
            margin-right: 1rem;
            h3 {
                font-size: @font-sm;
                font-weight: bold;
                margin-bottom: 0.25rem;
            }
            p {
                font-size: @font-xs;
                margin: 0;
            }
        }
        .download-button{
            button {
                margin:auto;
                font-size: @font-xs;
                box-shadow: 0 3px 6px 0 @blue-light;
                height: 2rem;
                padding: 0 1.3rem;
            }
        }
    }
    .journey {
        background-image: linear-gradient(to bottom, @grey-light, @white);
        
        .journey-image-title {
            text-align: center;
            margin: 4.375rem 0 3.875rem;
            h2 {
                margin: 0.75rem;
                font-size: @font-xl;
                font-weight: bold;
            }
            p {
                font-size: @font-lg;
            }
        }
        &.journey-image img {
            width: 100%;
            margin-bottom: -4.5rem;
        }
        &.journey-text {
            padding: 7rem 0 6.5rem;

            .journey-text-item {
                background-color: @white;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                padding: 1.6rem 3.5rem 0;
            
                h6 {
                    color: @primary;
                    font-size: @font-sm;
                    font-weight: bold;
                    padding-bottom: 1rem;
                }

                ul {
                    padding-left: 1rem;
                    margin-bottom: 0;

                    li {
                        font-size: @font-sm;
                        padding-bottom: 1.5rem;
                    }
                }
            }
        }
    }
    .values {
        background: @blue-dark;
        background: url(/landing/background_parallet.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        .values-title {
            h2 {
                color: @white;
                font-size: @font-xl;
                letter-spacing: 0.36px;
                font-weight: bold;
                margin: 3.75rem 0 0;
            }
        }

        .values-item {
            box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.04);
            background-color: @white;
            padding: 2rem 3.125rem;
            position: relative;
            top: 2.875rem;
            height: 32rem;
            width: 100%;
            color: #121619;

            h3 {
                margin: 2rem 0 1.5rem;
                font-weight: bold;
            }
            .description {
                font-weight: normal;
            }

            .checklist{
                list-style: none;
                padding: 0;
                padding-left: 1rem;
                
                li {
                    padding-left: 1rem;
                    padding-bottom: 1rem;
                    font-weight: 500;
                }
                
                li:before {
                    content: '✓';
                    color: @yellow;
                    position: absolute;
                    left: 3rem;
                }
            }
        }
    }
    .accelerators {
        padding-top: 5.5rem;
        background-image: linear-gradient(to bottom, @grey-light, @white);

        .accelerators-title {
            text-align: center;
            h2 {
                font-size: @font-xl;
                font-weight: bold;
            }
            p {
                font-size: @font-lg;
            }
        }

        // .accelerators-diagram {
        //     display: flex;
        //     justify-content: center;
        // }
    }
    .customers {
        background-color: @grey-light;
        padding-bottom: 6.5rem; 

        .customers-title {
            text-align: center;
            margin: 3.5rem 0;

            h2 {
                font-size: @font-xl;
                font-weight: bold;
            }
        }
        .customer-card {
            position: relative;
            margin-bottom: 2rem;
            
            .customer-card-text {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 1.5rem 2.5rem;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);

                h3 {
                    margin-top: auto;
                    font-size: @font-xl;
                    font-weight: bold;
                    color: @white;
                    letter-spacing: 0.24px;
                }
                p {
                    font-size: @font-xs;
                    line-height: 0.875rem;
                    color: @white;
                    letter-spacing: 0.19px;
                    text-align: justify;
                }
            }
            .customer-card-footer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .company {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    img {
                        border-radius: 50%;
                        width: 2rem;
                        height: 2rem;
                    }

                    p {
                        font-size: @font-sm;
                        color: @blue-light;
                        padding: 0.5rem 0.875rem;
                        margin: 0;
                    }
                }
                .hashtags {
                    font-size: @font-sm;
                    color: @white;
                    margin: auto 0;
                }
            }
        }
    }
    .footer {
        background-color: @text-dark;
        color: @grey-light;
        padding-top: 3.2rem;

        .footer-logo-aka {
            margin-bottom: 1.2rem;
        }
        .footer-logo-fsoft {
            margin-left: 0.4rem;
        }
        .footer-social-icon {
            margin-right: 1rem;
        }
        .product-by {
            font-size: @font-xs;
        }

        // temp
        .temp-footer-layout {
            display: flex;
            > img {
                margin-right: 1rem;
                position: relative;
                top: -5px;
            }
        }
        .footer-section {
            margin-bottom: 1.8rem;

            // temp
            display: flex;
            justify-content: flex-end;

            h6 {
                color: @blue;
                text-transform: uppercase;
                margin-bottom: 1rem;
                font-size: 0.875rem;

                //temp
                margin-left: 2rem; 
                a {
                    color: @blue-light;
                }
            }
    
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            
                li a {
                    font-size: @font-xs;
                    display: block;
                    margin-bottom: 1rem;
                    line-height: 1rem;
                    color: @grey;
                }
            }
        }
        .footer-bottom {
            border-top: 1px solid @white;
            opacity: 0.2;
            font-size: @font-sm;
            // margin-top: 3.5rem;
            padding: 1.5rem 0;

            > div {
                justify-content: space-between;
                display: flex;

                a {
                    color: inherit;
                }
            }
            
            p {
                margin: 0
            }
        }
    }
}
.slider {
    @media only screen and (max-width: 436px){
        .slide-text {
            top: 10rem !important;
        }
    }
    
    @media only screen and (min-width: 436px) and (max-width: 577px){
        .slide-text {
            top: 13rem !important;
        }
    }
    
    @media only screen and (min-width: 577px) and (max-width: 645px){
        .slide-text {
            top: 11rem !important;
        }
    }
    
    @media only screen and (min-width: 645px) and (max-width: 767px){
        .slide-text {
            top: 14.5rem !important;
        }
    }
}
.services {
    @media only screen and (max-width: 577px){
        .services-item {
            height: 11.5rem !important;
        }
        .partners .partners-section span {
            top: -2.2rem !important;
        }
    }
    @media only screen and (min-width: 577px) and (max-width: 767px){
        .partners .partners-section span {
            top: -1.6rem !important;
        }
    }
}

@media only screen and (max-width: 767px){
    .mobile-layout {
        display: block !important;
    }
    .web-layout {
        display: none !important;
    }
    .header {
        height: 6rem !important;

        .header-container {
            padding-left: 0;
            padding-right: 0;
        }
        .akac-logo {
            text-align: center !important;
        }
    }
    .slider {
        margin-top: 0!important;
        .slide {
            height: 30rem !important;
            .slide-image {
                height: 20rem !important;
            }
            .slide-text {
                margin: 1rem !important;
                width: fit-content !important;
                height: fit-content !important;
                padding: 2.5rem !important;
                box-shadow: 0 -5px 18px 0 rgba(0, 0, 0, 0.16);
            }
        }
        .ant-carousel {
            box-shadow: none !important;
            .slick-slider {
                top: 0 !important;
            }
        }
    }
    .services {
        .ant-tabs {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .carousel-container {
            padding-left: 0;
            padding-right: 0;
        }
        .services-container {
            margin: -8px 8px 8px !important;
            padding-bottom: 2%;
        }
        .partners {
            margin: 0 16px;
            // .partners-section span {
            //     top: -2.2rem !important;
            // }
            .partners-icon {
                text-align: center;
                padding-bottom: 1.5rem;
                .ant-image {
                    padding: 0 1rem;
                }
                .aws-logo {
                    width: 15%;
                    .ant-image-img {
                        margin-top: 0.5rem;
                    }
                }
                .azure-logo {
                    width: 25%;
                    .ant-image-img {
                        margin-bottom: 0.5rem;
                    }
                }
                .gcp-logo {
                    width: 40%;
                }
                .cis-logo {
                    width: 30%;
                }
                .hipaa-logo {
                    width: 25%;
                }
                .iso-logo {
                    width: 15%;
                }
                .pci-logo {
                    width: 30%;
                }
            }
        }
    }
    .customers .customer-card .customer-card-text p {
        font-size: 0.625rem !important;
        letter-spacing: 0.16px !important;
    }
    .download-offering {
        flex-direction: column !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        .download-text, .download-button {
            margin-left: 48% !important;
            margin-right: 0 !important;
        }
        .download-button {
            padding-top: 0.5rem !important;
            height: 2.25rem !important;
        }
    }
    .journey {
        &.journey-text {
            padding: 7rem 1.5rem 3.5rem !important;
        }
        .journey-image-title {
            margin: 1rem 0 !important;
            .title-container {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            .title-text {
                width: 12.375rem;
                font-size: 1.25rem !important;
                line-height: 1.75rem;
                letter-spacing: 0.2px;
            }
        }
    }
    .values {
        .values-item {
            padding: 2rem !important;
            top: 1.875rem !important;
            .aglity-icons {
                width: 6rem !important;
            }
            .checklist {
                padding-left: 1.5rem !important;
            }
        }
    }
    .customers {
        padding-bottom: 0 !important;
        .customers-title {
            margin: 2.5rem 0 !important;
        }
        .customer-card {
            margin-bottom: 3rem !important;
        }
    }
    .footer {
        padding-top: 2.8rem !important;
        .footer-container, .footer-bottom {
            padding-left: 16px !important;
        }
        .footer-container {
            padding-bottom: 16px;
        }
    }
    .accelerators {
        padding-top: 3.5rem !important;
        background-image: none !important;
        .accelerators-image {
            width: 100%;
            text-align: center;
        }
        .values-title {
            h2 {
                color: @white;
                font-size: @font-xl;
                letter-spacing: 0.36px;
                font-weight: bold;
                margin: 3.75rem 0 0;
            }
        }

        .values-item {
            background-color: @white;
            padding: 0 3.125rem 3.125rem 3.125rem;
            position: relative;
            top: 0.875rem;
            height: fit-content;
            width: 100%;

            h3 {
                margin: 2rem 0 1.5rem;
                font-weight: bold;
            }

            .checklist{
                list-style: none;
                padding: 0;
                padding-left: 0.75rem;
                color: #121619;
                
                li {
                    padding-left: 0.75rem;
                    padding-bottom: 1rem;
                }
                
                li:before {
                    content: '✓';
                    color: @yellow;
                    position: absolute;
                    left: 3rem;
                }
                .checklist-children {
                    list-style: none;
                    padding: 0;
                    padding-left: 2rem;
                    
                    li {
                        padding-left: 0.75rem;
                        padding-bottom: 1rem;
                    }
                    
                    li:before {
                        content: '✓';
                        color: @yellow;
                        position: absolute;
                        left: 5rem;
                    }
                }
            }
        }
    }
}