@media screen and (max-width: 1200px) {
  .report-detail {
    .tabs-menu {
      .report-tab {
        margin: 2.825rem 1rem;
      }
      .ant-tabs-nav-wrap {
        padding: 0 1rem;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .report-detail {
    .tabs-menu {
      .report-tab {
        margin: 2.825rem 7.313rem 4rem 7.313rem;
      }
      .ant-tabs-nav-wrap {
        padding: 0 6.5rem;
      }
    }
  }
}
//assessment detail responsive
@media screen and (max-width: 1200px) {
  .assessment-detail {
    .list-content {
      margin: 2.825rem 1rem;
    }
    .disclaimer {
      margin: 1.875rem 1rem 3rem 1rem;
    }
    .ant-tabs-nav-list {
      width: 100%;
      justify-content: space-between;
      margin: 0 1rem;
    }
  }
}
@media screen and (min-width: 1200px) {
  .assessment-detail {
    .list-content {
      margin: 2.825rem 6.875rem;
    }
    .disclaimer {
      margin: 1.875rem 6.875rem 3rem 6.875rem;
    }
    .ant-tabs-nav-list {
      width: 100%;
      justify-content: space-between;
      margin: 0 6.875rem;
    }
  }
}
@media screen and (min-width: 1600px) {
  .assessment-detail {
    .list-content {
      margin: 2.825rem 8.875rem;
    }
    .disclaimer {
      margin: 1.875rem 8.875rem 3rem 8.875rem;
    }
    .ant-tabs-nav-list {
      width: 100%;
      justify-content: space-between;
      margin: 0 8.875rem;
    }
  }
}
