.ant-layout-content {
  // background-color: @white;
}

.ant-btn-lg {
  min-width: 15rem;
  min-height: 3.125rem;
}

.ant-btn-secondary {
  color: #121619;
  background-color: @secondary-color !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  &:hover,
  &:focus {
    color: #121619;
    box-shadow: none;
  }
}

.ant-btn-success {
  color: white;
  background-color: #34c759 !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  &:hover,
  &:focus {
    color: white;
    box-shadow: none;
  }
}

.small-tooltip.ant-tooltip {
  border-radius: none;
  .ant-tooltip-inner{
    border-radius: 3px;
    padding: 6px 8px;
    width: 100%;
    border: 1px solid #cccccc;
    min-width: 50px;
  }
}
.admin-menu-left {
  .ant-menu {
    .ant-menu-submenu {
      .ant-menu-submenu-title {
        padding-left: 20px !important;
        .anticon{
          margin-right: 10px;
        }
      }
      >.ant-menu {
        >.ant-menu-item {
          padding-left: 46px !important;
          line-height: 34px;
          height: 34px;
        }
      }
    }
    &.ant-menu-inline-collapsed{
      .ant-menu-submenu-title {
        padding-left: 30px !important;
        .anticon{
          margin-right: auto;
        }
      }
    }
  }
}
