.on-boarding {
  .gx-icon-views {
    background-color: #ffffff;
  }

  .vertical-radio {
    line-height: 2rem;
  }
}

.provider {
  & img {
    width: 50%;
    height: 4.235rem;
  }

  &:hover {
    border: 2px solid #0564c3 !important;
    box-shadow: 0 3px 8px rgba(0, 122, 255, 0.2);
  }
}

.provider-title {
  text-align: center;
}

.active-provider {
  border: 2px solid #0564c3 !important;
  box-shadow: 0 3px 8px rgba(0, 122, 255, 0.2);
  color: #ffffff;
}

.form-edited-cloud-account {
  .ant-input-group-wrapper {
    margin-bottom: 15px;
  }

  .ant-input-group-addon {
    min-width: 150px;
  }
}
