.scenario-step {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  color: @scenario-dark;

  .scenario-step-number {
    min-width: 5rem;
  }

  .scenario-step-img {
    margin: 0 1rem;
    min-width: 15rem;
  }

  .scenario-step-card {
    h5 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.875rem;
      margin-bottom: 1rem;
    }

    .scenario-step-card-actions {
      span {
        margin-right: 1rem;
        cursor: pointer;

        &:hover {
          color: @scenario-blue;
        }
      }
    }
  }
}
