@import "../../variables.less";
@import "../../responsive.less";

// ignore validate custom font
/* stylelint-disable */
// nav-bar
.assessment-report-nav {
  .assessment-report-banner {
    width: 100%;
    .assessment-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin: 1.875rem 0 1.875rem;
      .assessment-report-title {
        font-family: Inter;
        font-size: 1.5rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: normal;
        text-align: left;
        color: @report-detail-text-dark;
        margin-right: 20px;
      }
      .download-report-button {
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 0 3px 6px 0 @report-shadow-box;
        font-size: 0.8125em;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        height: 3.2em;
        min-width: 9rem;
      }
      .disable-report-btn {
        display: none;
      }
    }
  }
}
//nav-bar
//anchor
.ant-anchor-wrapper {
  background-color: inherit;
}
.anchor {
  .anchor-detail {
    margin-top: 60px;
    .ant-anchor {
      font-size: 0.8125em;
    }
    .toc {
      .ant-affix {
        margin-top: 2em;
      }
    }
  }
}

//tab
.tabs-menu {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 @report-shadow-box;
  background-color: #ffffff;
  color: @report-detail-text-color;
  font-size: 1rem;
  font-family: Inter;
  line-height: 1.5;

  .tabs-body {
    width: 100%;

    .ant-tabs {
      font-size: 1em;
      .ant-tabs-nav-container {
        font-size: 1em;
      }
    }
    .tab-detail {
      margin: 0 0 20px 0;

      .ant-tabs-bar {
        background-color: @report-primary-bg-color;
        box-shadow: 0 3px 6px 0 @report-shadow-box;
        height: 3em;
        margin-bottom: 0;
      }

      .ant-tabs-nav .ant-tabs-tab {
        font-size: 1em;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: 0.16px;
        text-align: center;
        margin: 0 20px;
        padding: 0.8em 25px;
        height: 3em;
      }
      .tab-title,
      .domain-title {
        font-family: Inter;
        font-size: 1.125rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 0.18px;
        text-align: left;
        color: @report-detail-text-dark;
      }
    }
    .score {
      .overall {
        .overall-title {
          margin-bottom: 2rem;
        }
        .overall-content {
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.63;
          letter-spacing: 0.16px;
          text-align: left;
          color: @report-detail-text-dark;
        }
      }
      .overall-progress {
        text-align: center;
      }
      .domains {
        .domain {
          .line {
            margin: 30px 0 40px;
          }
          .domain-progress {
            .line-process {
              .report-list {
                margin: 15px 0;
              }
              .sub-domain-title {
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.63;
                letter-spacing: 0.16px;
                text-align: left;
                color: @report-detail-text-dark;
              }
            }
            .cirle-process {
              .caculate-progress {
                text-align: center;
              }
            }
          }
        }
      }
    }
    .heatmap-report {
      .heatmap-header {
        margin-bottom: 5em;
        .heatmap-title {
          margin-bottom: 2rem;
        }
        .heatmap-caf {
          margin-bottom: 2em;
          .caf-link {
            color: @report-detail-primary;
          }
        }
        .heatmap-description {
          .description {
            //   @include flexbox-row();
            display: flex;
            flex-direction: row;
            margin: 10px 0;
            .description-button {
              margin: auto 0;
              text-align: center;
              border-radius: 4px;
              width: 15%;
              span {
                line-height: 2em;
              }
            }
            .pass-icon {
              background-color: @report-detail-pass-icon;
              border: solid 1px @report-detail-pass-icon-border;
              border-radius: 4px;
            }
            .fail-icon {
              background-color: @report-detail-fail-icon;
              border: solid 1px @report-detail-fail-icon-border;
              border-radius: 4px;
            }
            .content {
              margin-left: 20px;
              width: 85%;
            }
          }
        }
      }
      .heatmap-domain {
        margin-top: 2em;
        box-sizing: border-box;
        .heatmap-detail {
          // @include flexbox-row();
          display: flex;
          flex-wrap: wrap;
          .subdomain {
            margin-bottom: 30px;
            margin-right: 10%;
            width: 40%;
            .title-subdomain {
              .heatmap-domain-title {
                font-size: 1rem;
                font-weight: bold;
                padding: 0;
                margin-top: 2em;
              }
              .process-heatmap-match {
                background-color: @report-detail-pass-icon;
                border-radius: 4px;
                border: solid 1px @report-detail-pass-icon-border;
                margin: 1em 0;
                padding: 0.5em 1.75em;
                width: 80%;
                text-align: left;
                font-size: 1rem;
              }

              .process-heatmap-less {
                width: 80%;
                background-color: @report-detail-fail-icon;
                border-radius: 4px;
                border: solid 1px @report-detail-fail-icon-border;
                margin: 1em 0;
                padding: 0.5em 1.75em;
                text-align: left;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
    .radar-report {
      .radar-header {
        .radar-title {
          margin-bottom: 1.5rem;
        }
        .radar-report-content {
          font-family: Inter;
          font-size: 0.875rem;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: 0.14px;
          text-align: left;
          color: var(--dark);

          margin: 20px 0 50px 0;
          .caf-link {
            color: @report-detail-primary;
          }
          .radar-text {
            margin-top: 20px;
          }
        }
      }
    }
    .recommendation {
      .overall-recommendation {
        margin-bottom: 1rem;
        .text-title {
          font-size: 1.125rem;
          font-weight: bold;
          margin-bottom: 2rem;
        }
        .content-font-size {
          font-size: 1rem;
        }

        .overall-recommendation_title {
          margin-bottom: 33px;
        }
      }

      .recommendation_title {
        font-size: 1.125rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.24px;
        text-align: left;
        color: @report-detail-text-dark;
      }

      .recommendation_content {
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: 0.16px;
        text-align: left;
        color: @report-detail-text-dark;
      }

      .recommendation-report {
        .recommendation-report_migration {
          border-radius: 1rem;
          background-color: @report-migration-background;
          padding: 1rem;
          color: @report-migration-text;
          margin: 9px 4px 15px;
          h3 {
            color: @report-migration-text;
          }
        }

        .recommendation-report_decision {
          margin: 5px 0;
          .line {
            margin: 5px 0;
          }
          .recommendation-report_content {
            display: flex;
            flex-direction: row;
            margin: 15px 0;
            .domain {
              width: 33%;
              font-weight: 700;
              font-size: 1.2rem;
            }
            .decision {
              width: 67%;
              .decision_overview {
                font-weight: 700;
              }
            }
          }
        }

        .recommendation-report_strategy {
          margin: 5px 0;
          .space {
            padding: 8px 8px;
          }
          .recommendation-report_strategy_container {
            margin-top: 23px;
            .recommendation-report_strategy_content {
              .recommendation-title_wrapper {
                margin-bottom: 23px;

                .recommond_solution {
                  font-size: 0.8125rem;
                  font-weight: bold;
                  font-stretch: normal;
                  font-style: normal;
                  letter-spacing: 0.13px;
                  color: #064114;
                  border-radius: 36px;
                  border: solid 1px #0aaa32;
                  background-color: #8deda5;
                  line-height: 1.2;
                  padding: 0.5rem 1.125rem;

                  img {
                    position: relative;
                    top: -1px;
                    width: 1rem;
                    height: 1rem;
                    margin-right: 0.5rem;
                  }
                }
              }
            }
          }

          .recommendation-report_strategy_final {
            padding: 2rem;
            border-radius: 8px;
            border: 1px solid @report-detail-pass-icon-border;
            background-color: rgba(52, 199, 89, 0.05);
            margin-bottom: 146.5px;
          }
        }
      }
    }
  }
}
// ant score
.ant-progress-text {
  color: @report-detail-text-color !important;
}
.ant-progress-inner {
  background-color: @report-detail-process-color;
}
.ant-progress-circle-trail {
  stroke: @report-detail-process-color;
}
.ant-progress-inner,
.ant-progress-bg {
  border-radius: 1px;
}
.ant-btn-round.ant-btn-sm {
  padding: 0 0.3rem;
  margin: 0;
}
// ant

// collapseable recommendations
.collapsable-recommendation {
  position: relative;
  left: -3rem;
  background-color: @report-detail-message-background;
  box-shadow: 0 3px 6px 0 @report-shadow-box;
  border: 1px solid #dde1e6;
  border-radius: 5px;
  padding: 2em 4em;
  margin-left: -10px;
  margin-right: -80px;
}

.collapsable-recommendation-arrow {
  position: relative;
  top: 1px;
  left: 70px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #dde1e6;
  box-shadow: 0 3px 6px 0 rgba(0, 122, 255, 0.12);
  border-radius: 2px;
  margin-top: 10px;

  > .inner {
    position: relative;
    z-index: 2;
    top: 1px;
    left: -14px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid @report-detail-message-background;
  }
}

// tooltips score
.ant-tooltip {
  max-width: 700px;
}
.tooltip-icon {
  color: @report-detail-primary;
}
.ant-tooltip-inner {
  background-color: @report-primary-bg-color;
  border: solid 1px @report-detail-primary;
  border-radius: 16px;
  color: @report-detail-text-color;
  padding: 1em 2em;
  width: 140%;
}
.tooltip-content {
  font-size: 0.8rem;
  .tooltip-header {
    .tooltip-title {
      font-size: 1.2rem;
      font-weight: 700;
    }
    .tooltip-main-content {
      padding: 10px 0;
      margin: 0;
    }
  }
  .tooltip-details {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    .re-domain {
      width: 20%;
      font-weight: 700;
    }
    .recommend-content {
      width: 80%;
    }
  }
  .action-pass-Detail {
    font-weight: 600;
  }
  .tooltip-footer {
    padding-top: 10px;
    text-align: left;
    .help-link {
      font-weight: 600;
      color: @report-detail-primary;
    }
  }
}
.ant-tooltip-arrow {
  width: 24px;
  &:before {
    background-color: @report-detail-primary;
    width: 16px;
    height: 16px;
  }
}
// tootips

//send-email
.input-send-email {
  margin: 1.25em;
  .email-form-input {
    width: 100%;
    margin-bottom: 15px;
  }
  .fa-unlock-alt {
    color: #60c85a;
  }
  .ant-select {
    width: 100%;
  }
  .submit-btn {
    width: 100%;
  }
  input {
    border-radius: 4px;
    border: solid 1px #c0c5db;
    height: 31px;
    width: 100%;
    &::placeholder {
      color: @report-placeholder;
      opacity: 1;
      padding-left: 11px; // same ant-design select
      font-style: normal;
      font-size: 0.825rem;
      line-height: 3.08;
      letter-spacing: 0.13px;
    }
  }
  .ant-select-selection-placeholder {
    color: @report-placeholder;
    opacity: 1;
    font-style: normal;
    font-size: 0.825rem;
  }
  .term {
    > * {
      font-size: 0.825rem;
      line-height: 1.46;
      letter-spacing: 0.13px;
    }
  }
  .input-require {
    border-color: red;
    > .ant-select-selector {
      border-color: red;
    }
    .logo-content-bottom {
      font-size: 1rem;
      text-align: center;
    }
  }
}
