.bread-crumb {
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.14px;
  text-align: left;

  > span:last-child {
    color: @breadcrumb-dark-text !important;
  }
}
