@import '../variables.less';

.code-editor {
  border: 1px solid @code-editor-border-color;

  .monokai {
    background-color: @code-editor-border-color;
  }

  .ace-code-editor {
    width: 100% !important;
    height: 100% !important;
    min-height: 20em;
  }

  .selections {
    .lang {
      border-radius: 0;
      margin: 0.25em;
      margin-right: 0;
      padding: 0.25em 0.5em;
      padding-right: 0;

      * {
        font-size: 0.95em;
        text-transform: capitalize;
      }
    }
  }
}
