.credit-management {
  .header {
    margin-bottom: 1.875rem;
  }

  .action {
    .search,
    .reload {
      margin-right: 16px;
    }
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: @primary-text-color;
  }
}

.credit-dialog-container {
  .form-group {
    margin: 10px 0;

    .credit-valid {
      color: @credit-management-require;
    }
  }

  .credit-number,
  .credit-notes {
    &::after {
      content: '*';
      color: @credit-management-require;
      margin-left: 5px;
    }
  }
}
