@import 'onboarding';
@import 'lab-catalog';
@import 'lab-detail';
@import 'filter-menu';
@import 'lab-item';
@import 'credit-management';
@import 'lab-card-layout';

.@{class-prefix}-full-width {
  width: 100%;
}

.@{class-prefix}-text-left {
  text-align: left;
}

.@{class-prefix}-text-center {
  text-align: center;
}
