.lab-card-flex {
  &-content {
    cursor: 'pointer';
    padding-bottom: 6px;

    &-title {
      @media screen and (min-width: 768px) and (max-width: 992px) {
        height: 3.6rem;
      }

      height: 2.875rem;
      margin-bottom: 1em;
    }
  }
}

.lab-card-vetical {
  height: 13rem;

  &-thumb-equal {
    padding-bottom: 10rem !important;
  }

  &-body {
    width: 70% !important;
    cursor: 'pointer';
    padding: 24px !important;
  }

  &-lab-info {
    padding: 10px 0;
  }
}
