.lab-detail-card {
  min-height: 15rem;
  .ant-card-body {
    padding: 0;

    .ant-row > [class*='ant-col-'] {
      margin: 0 0;
    }

    .left-content {
      padding-right: 0;

      .ant-tabs-nav-list {
        width: 100%;
        border-right: 1px solid #e8e8e8;
        height: 4rem;

        .ant-tabs-tab {
          margin: 0 2.5rem 0 0;

          &:last-child {
            margin-right: 6.628rem;
          }

          &.ant-tabs-tab-active .ant-tabs-tab-btn {
            font-weight: bold !important;
            color: @primary-color !important;
          }

          .ant-tabs-tab-btn {
            font-size: 1rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: 0.16px;
            text-align: center;
            color: @primary-text-color;
          }
        }
      }

      .content-wrapper {
        padding-bottom: 15px;

        .business-story,
        .before-story,
        .solution,
        .guidance {
          font-size: 0.875rem;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: 0.14px;
          text-align: left;
          color: #121619;

          .info-highlight {
            font-weight: bold;
          }

          .provision-table {
            overflow-x: scroll;
          }
        }

        .before-story,
        .guidance {
          h2 {
            font-size: 1.1rem;
            line-height: 1.213rem;
            text-transform: uppercase;
            font-weight: 500;
          }
        }
      }
    }

    .right-content {
      padding-left: 0;

      .header {
        font-size: 0.875rem;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        height: 4rem;
        display: flex;
        flex: 1 100%;

        .labdetail-cloud-accounts {
          font-size: 0.875rem;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          .select-cloud-account {
            width: 100%;
            text-align: center;

            .ant-select-selector {
              border: none;
              height: 34px;
            }
            .ant-select-dropdown-empty {
              top: 50px !important;
            }
            .ant-select-item-empty {
              font-size: 0.75rem;
              padding: 0 0.2rem;
              .no-data {
                color: @nodata-text-color;
                & p {
                  margin: 0;
                }
                .text-detail {
                  color: @primary-text-color;
                }
                .no-data-image {
                  width: 2.5rem;
                  height: 2.5rem;
                }
                .guideline {
                  color: @primary-color;
                  text-decoration: underline solid @primary-color 2px;
                  text-underline-position: under;
                }
              }
            }
          }
        }

        .labdetail-start-lab,
        .labdetail-creating-lab {
          color: #ffffff;
          background-color: #34c759;
          font-size: 0.875rem;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            border-radius: 0;
            background-color: #34c759 !important;
            border-color: #34c759 !important;
            height: 100%;
            width: 100%;
            margin-bottom: 0;
          }
        }

        .labdetail-fail-lab {
          color: #ffffff;
          font-size: 0.875rem;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            border-radius: 0;
            background-color: #e7494c !important;
            border-color: #e7494c !important;
            height: 100%;
            width: 100%;
            margin-bottom: 0;
          }
        }

        .labdetail-end-lab {
          color: #ffffff;
          font-size: 0.875rem;
          width: 50%;
          display: flex;
          align-items: center;
          flex-direction: column;

          button {
            margin-bottom: 0;
            margin-right: 0;
            margin-top: 3px;
          }

          .ant-statistic-content {
            display: flex;

            .ant-statistic-content-value {
              font-size: 15px;
            }
          }
        }
      }

      .content-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 1.25rem;

        .lab-detail-resource {
          display: flex;
          flex-direction: column;
          margin: 20px;
        }

        .table-of-content {
          margin: 20px;
        }
      }
    }
  }
}

.labDetail-footer {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 3.031rem;

  .title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.19px;
    text-align: left;
    color: #4d5358;
    width: 100%;
  }
}

.coming-soon {
  position: relative;

  &::after {
    position: absolute;
    content: 'Coming Soon';
    bottom: -18px;
    right: -35px;
    border: solid 1px;
    color: white;
    background-color: #007aff;
    padding: 0 4px;
    border-radius: 5px;
    font-size: 9px;
    z-index: 1;
    font-weight: bold;
  }
}
