.lab-catalog {
  .pagination-center {
    line-height: 38px;
    text-align: center;
    border-bottom: 1px solid transparent;
    margin-bottom: 80px;
  }

  .@{class-prefix}-product-item {
    cursor: 'pointer';
    border-radius: 4px;
  }

  .@{class-prefix}-product-item:hover {
    opacity: 0.6;
  }

  .@{class-prefix}-grid-thumb-equal {
    padding-bottom: 10em;
  }

  .@{class-prefix}-product-body {
    padding-bottom: 6px;
  }

  .ant-row-flex {
    display: flex;
    justify-content: space-between;
  }

  .@{class-prefix}-text-success {
    text-transform: uppercase;
  }
}
