.on-boarding {
  .@{class-prefix}-login-content {
    max-width: 650px;

    .@{class-prefix}-top-header {
      padding-top: 2rem;
    }
  }

  .onboarding-form {
    width: 100%;

    .sm-notes {
      padding-bottom: 1rem;
      padding-top: 1rem;
      .guideline {
        color: @guideline-text;
        text-decoration: underline solid @guideline-text 2px;
        text-underline-position: under;
      }
    }
    .ant-row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
