
.text-center {
    text-align: center;
}
.rounded-card {
    height: 90%;
    border-radius: 18px;
    
    line-height: 1.5rem;
    color: #121619; // dark
    text-align: left;
    .card-title {
        font-size: 1.125rem;
        letter-spacing: 0.18px;
        font-weight: bold;
    }
    .card-description {
        font-size: 1.125rem;
        margin-top: 1.125rem; 
    }
    .ant-card-cover, img {
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
    }
}
.top-banner {
    width: 100%;
    height: 30em;
    background-color: @primary-color;
    border-bottom-left-radius: 10em;
    padding-left: 3em;
    margin: -32px 0 0 32px;
    background-image: url(/landing-banner-bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 6rem;

        h1 {
            color: @white;
            font-size: 2.25rem;

            .bold {
                font-weight: bold;
            }
        }
    }
    .video {

    }
    .video-player {
        position: relative;
        width: 500px;
        padding-top: 5em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
  
        img {
          width: 100%;
        }
  
        .report {
          position: absolute;
          top: 86px;
          left: 82px;
          width: 67%;
        }
  
        .video {
          position: absolute;
          top: 5.3em;
          left: 0;
          margin-top: 1em;
          margin-left: 6em;
          width: 66%;
          height: 60%;
          border: none;
          background-color: #000000;
        }
        .ant-btn-secondary {
            background-color: #ffd943; // yellow-ish
            color: #121619; // dark
        }
  
        &:hover {
          .btn {
            opacity: 0.8;
          }
        }
    }
}
.section-roadmap {
    margin: 3.8em 8.75em 3.4em;
    .img-roadmap {
        border-radius: 40px;
    }
    .title {
        width: 55rem;
        h2 {
            font-size: 1.5rem;
            text-align: center;
            margin: 0 auto 3.4em;
            width: 60%;
        }
    }
    .roadmap-intro {
        h2 {
            font-size: 2.25rem;
            margin-left: 1rem;
            margin-top: 1.4rem;
        }
        p {
            font-size: 1.125rem;
            line-height: 1.56;
            color: #121619;
            margin-left: 1rem;
        }
        
        .ant-btn-link img {
            margin-right: 1rem;
        }
    }
    
    
}
.section-assessments {
    margin: 3.8rem 8.75rem 3.4rem;
    .title {
        font-size: 2.25rem;
        line-height: 2.625rem;
        text-align: center;
    }
    p {
        font-size: 1.125rem;
        line-height: 1.5;
    }
    .show-more {
        font-size: 1.125rem;
        min-width: 16.5rem;
    }
}
.section-benefit,
.section-process,
.section-steps {
    margin: 0 8.75rem;
    text-align: center;

    .title h2 {
        font-size: 2.25rem;
    }

    .step {
        p {
            color: #121619; // dark
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.16px;
            margin-top: 1.875rem;
        }
    }
    .icon-forward-arrow {
        display: flex;
        justify-items: center;
        padding-bottom: 4rem;
    }
}
.section-process {
    margin-bottom: 7.5rem;
}
.section-steps {
    margin-bottom: 3rem;

    .view-demo {
        cursor: pointer;
        color: @primary-color;
        
        p {
            font-size: 1.125rem;
            margin-bottom: 0;
            letter-spacing: 0.18px;
        }
        .view-demo-icon {
            margin-top: 0.5rem;
        }
    }

}

.section-bg-fade {
    background-image: linear-gradient(to bottom, #f2f4f8, #ffffff);
    margin-left: -32px;
    margin-right: -32px;
    min-height: 50.688rem;
    padding-top: 6rem;
}
.section-quickstart {
    margin: 6rem 8.75rem 0;
    min-height: 240px;
    object-fit: contain;
    border-radius: 33px;
    background-color: @primary-color;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/bg.png);

    .ant-btn {
        margin-top: 4rem;
    }
    .text-intro {
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin: 0 2rem 2rem;
        color: white;

    }
}
.section-disclaimer {
    margin: 4.5rem 10rem;
    color: #4d5358;

    .title {
        font-weight: bold;;
    }
}