@import '../../../node_modules/antd/lib/style/themes/default.less';
//Header
@header-icon-color: #5ac8fa;
@header-search-border: #5ac8fa4d;
@header-search-bg: #1216184f;
@header-search-bg-focus: #d9e4e81f;
@header-link: #121618;
@header-bg-bot: #0054a8;
@header-bg-top: #072b53;
//Assessment Detail
@assessment-detail-shadow-color: #0000001f;
@assessment-detail-shadow-color-btn: #00000029;
@assessment-detail-btn-bg: #34c759;
@assessment-detail-answer: #f2f4f8;
@assessment-detail-question-bg: #4d5358;

//Contribute lab
@contribute-lab-shadow-color: #0000001f;

//Assessment Report
@report-primary-bg-color: #ffffff;
@report-detail-text-color: #000000;
@report-detail-text-dark: #121619;
@report-detail-primary: #007aff;
@report-detail-pass-icon: #36cc5b4f;
@report-detail-pass-icon-border: #34c759;
@report-detail-fail-icon: #ffcc004d;
@report-detail-fail-icon-border: #ffcc00;
@report-detail-process-color: #dde1e6;
@report-detail-message-background: #ffffff;
@report-migration-background: #4ce44c;
@report-migration-text: #ffffff;
@report-shadow-box: #00000029;
@report-placeholder: #848188;

// Assessment Selection Dialog
@assessment-selection-shadow: #5ac8fa;
@assessment-selection-bg: #f2f4f8;

// ColorPicker Variables
@white-color: #ffffff;
@black-color: #000000;

//global style variables
// @primary-color: #038fde;
@primary-color: #007aff;
@primary-text-color: #121619;
@nodata-text-color: #d3d5d8;
// @secondary-color: #fa8c15;
@secondary-color: #ffd943;
@text-color: #545454;
@text-color-secondary: #595959;
@heading-color: #535353;
@header-text-color: #262626;
@layout-header-background: #fefefe;
@layout-header-background-dark: #003365;
@layout-footer-background: #fffffe;
@body-background: #f2f4f8;
@nav-bar-bg: #fffffc;
@nav-bar-text-color: @text-color;

@nav-dark-bg: #003366;
@nav-dark-text-color: #5ac8fa;
@nav-dark-logo-color: #5ac8fa;
@menu-dark-bg: @nav-dark-bg;
@menu-dark-color: @nav-dark-text-color;
@menu-dark-highlight-color: #ffffff;
@menu-dark-arrow-color: @nav-dark-text-color;
@hor-nav-text-color: #fffffd;

@border-radius-base: 6px;
@border-radius-sm: 4px;
@border-radius-lg: 10px;

// code editor
@code-editor-bg-color: #3e3e3e;
@code-editor-border-color: #dcdcdc;
// md-viewer
@md-viewer-border-color: #4fc2e5;
@md-viewer-shadow-color: #cccccc;
@md-viewer-code-color: #da4453;
//  credit management
@credit-management-require: #ff0000;

// Tooltip
@border-tooltip: #a2a9b0;

//Breadcrumb
@breadcrumb-dark-text: #4d5358;

//Guideline
@guideline-text: #072b53;