@media screen and (max-width: @screen-sm) {
  @import 'screen-sm';
}

@media screen and (min-width: @screen-md) {
  @import 'screen-md';
}

@media screen and (min-width: @screen-lg) {
  @import 'screen-lg';
}
