.lg-tabs-wrapper {
  .ant-tabs-nav,
  .ant-tabs-content-holder {
    padding-left: 6.188rem;
  }
}

html {
  font-size: 12px;
}

.akac-header-search {
  .gx-lt-icon-search-bar-lg {
    width: 200px;

    .gx-search-icon {
      height: 2.188rem;
      line-height: 33px;
    }
  }
}
