.page-breadcrumbs {
  margin-bottom: 1.875rem;

  .nav-bar {
    display: flex;
    justify-content: space-between;

    .nav-bar_title {
      font-size: 1.5rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: @black-color;
    }

    .nav-bar-list {
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1.42;
      letter-spacing: 0.19px;
      text-align: center;
      color: @black-color;
    }
  }
}
