@import '../variables.less';

.contribute-lab {
  button {
    width: 6.5rem;
    height: 100%;
  }

  label {
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.14px;
    text-align: left;
    color: @primary-text-color;
  }

  label.required::after {
    content: ' *';
    color: #ff0000;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .contribute-lab_banner {
    margin-bottom: 1.875rem;

    .contribute-lab_banner-title {
      margin-left: 1rem;

      .title {
        font-size: 1.5rem;
      }
    }
  }

  .contribute-lab_tabs {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 @contribute-lab-shadow-color;
    background-color: @white-color;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;

    .contribute-lab_tab-content {
      width: 100%;
      padding: 0;

      .ant-tabs-nav {
        height: 3.5rem;
        margin: 0;

        .ant-tabs-tab {
          margin: 0;
          padding: 0 1rem;
        }
      }
    }
  }

  .tab-content {
    padding: 2.094rem 1.725rem 5.058rem 1.725rem;

    .lab-overview-form_group {
      .lab-overview-form_item {
        margin-bottom: 2.398rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 0.625rem;
        }
      }

      .lab-overview-form_item:last-child {
        margin-bottom: 1.398rem;
      }
    }
  }

  .contribute-lab_footer-button {
    // width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 1px solid #e8e8e8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.281rem 0.5rem 1.156rem 0.5rem;
    
    .back-button,
    .save-next-button {
      height: 2.375rem;
    }
  }

  .editor {
    border-radius: 8px;

    .cke_bottom {
      display: none;
    }
  }

  .vendor-provider {
    width: 6rem;
    height: 3rem;
    border-radius: 4px;
    border: 1px solid #34c759;
    padding: 0.45rem;
  }

  .vendor-provider:hover {
    background-color: #ffffff;
  }

  .category-tree {
    width: 100%;
    height: 26.313rem;
    border-radius: 4px;
    border: solid 1px #a2a9b0;
    background-color: #ffffff;

    .category-tree-search {
      margin-top: -1px;
      margin-left: 0;
      margin-right: 0;

      .category-tree-search-wrapper {
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        .gx-search-bar {
          width: 100%;

          .ant-input {
            border-radius: 0;
            height: 46px;
            padding: 10px 18px 10px 40px;
            border-top: 0;
            border-left: 0;
          }
        }
      }

      .category-tree-search-button {
        border-bottom: 1px solid #d9d9d9;
        background: rgba(250, 250, 250, 0.1);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .collapse,
        .expand {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 0.75rem;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: 0.19px;
          text-align: left;
          color: @primary-color;
          cursor: pointer;
        }
      }
    }

    .category-tree-content {
      padding-left: 16px;
      height: 23rem;
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  .upload-box {
    height: 6.5rem;
    border: 1px dashed #51a8fb;
    overflow-y: auto;

    .upload-button {
      cursor: pointer;
      height: 38px;
      width: 50px;
      color: #51a8fb;
      padding: 10px;

      svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  .html-attachment-controls {
    margin-top: 1rem;
  }

  .require-input {
    color: #ff0000;
  }
}
