.contribute-scenario-banner {
  margin-bottom: 1.875rem;

  .bread-crumb {
    margin-bottom: 0.3rem;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: @primary-text-color;
  }
}

.contribute-scenario {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 @contribute-lab-shadow-color;
  background-color: @white-color;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 32px;

  .tab-content {
    position: relative;
    left: 1px;
    padding: 2.094rem 6.938rem 5.058rem 6.938rem;
  }

  .ant-tabs-nav-list {
    margin: 0 6.875rem;
  }

  .ant-tabs-nav {
    height: 3.5rem;
    margin: 0;

    .ant-tabs-tab {
      margin: 0;
      padding: 0 1rem;
    }
  }
}

.lab-selector-modal {
  top: 20px;
  max-height: 90vh;
  width: 80vw;
}

.scenario-lab-selector img {
  height: auto;
}
