.lab-detail {
  h1 {
    font-size: 1.25rem;
    line-height: 1.313rem;
    margin-top: 1.25rem;
    text-transform: uppercase;
    font-weight: 500;

    &:first-child {
      margin-top: 0;
    }
  }

  .lab-edit-text {
    cursor: pointer;
    color: @primary-color;
    text-decoration: underline solid @primary-color 2px;
    text-underline-position: under;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.14px;
    font-weight: normal;
    vertical-align: middle;
  }

  .description {
    display: flex;
    color: @primary-text-color;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.19px;
    text-align: left;

    .show-more-categories {
      text-decoration: underline;
      color: @primary-color;
      cursor: default;
    }

    & > div {
      display: flex;
      align-items: center;
      & > p:hover, >div:hover, >span:hover {
        cursor: pointer;
      }
      & > p,
      span {
        margin-bottom: 0;
        cursor: default;
      }

      &::after {
        content: '|';
        margin-left: 0.8rem;
        margin-right: 0.6rem;
      }

      &:last-child::after {
        content: '';
        margin-left: 0;
        margin-right: 0;
      }

      > span {
        display: inline-flex;
        align-items: center;
        .category {
          background-image: url('../../assets/images/detail-lab/Category.svg');
          margin-right: 0.3rem;
          margin-left: 0.1rem;
          min-width: 12px;
          height: 12px;
          width: 12px;
          background-size: 12px 12px;
        }
      }

      & > div {
        margin-right: 0.3rem;
        margin-left: 0.1rem;
        min-width: 12px;
        height: 12px;
        background-size: 12px 12px;

        &.credit {
          background-image: url('../../assets/images/detail-lab/Wallet.svg');
        }

        &.time {
          background-image: url('../../assets/images/detail-lab/Clock.svg');
        }

        &.vendor {
          background-image: url('../../assets/images/detail-lab/Cloudy.svg');
          min-width: 13px;
          height: 13px;
          background-size: 13px 13px;
        }

        &.complexity {
          background-image: url('../../assets/images/detail-lab/File.svg');
        }
      }
    }
  }
}
