.@{class-prefix}-main-content-wrapper {
  .@{class-prefix}-page-layout {
    &.portals {
      padding: 0 1rem;
    }

    .@{class-prefix}-page-header {
      margin-bottom: 1.875rem;
    }
  }
}

.@{class-prefix}-no-header-horizontal {
  padding: 0;
}
