@import '../variables.less';

.my-contribute-labs {
  .my-contribute-labs-header {
    margin-bottom: 1.875rem;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: @primary-text-color;
  }

  .my-contribute-labs-content {
    .my-contribute-labs-create {
      width: 9.25rem;
      height: 2.25rem;
    }

    .search-box {
      width: 100%;
    }
  }
}
