.popup-lab-hover {
  width: 250px;

  .title {
    font-weight: 700;
    font-size: 1rem;
  }

  .read-more-btn {
    width: 250px;
    margin-top: 16px;
    opacity: 0.8;
  }

  .description {
    font-size: 1rem;

    .safe-html-injector {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
    }
  }
}
