.@{class-prefix}-app-nav {
  li {
    padding-right: 0.8rem;

    a {
      color: @nav-dark-logo-color;
    }
  }

  .ant-layout-sider .ant-menu-submenu > .ant-menu.ant-menu-sub .ant-menu-item {
    padding-left: 4rem !important;
  }
}

.@{class-prefix}-sidebar-notifications {
  padding-top: 20px !important;
}

.apps-navigation {
  color: @nav-dark-logo-color;
  margin-left: 1rem;
}

.menu-navigation .app-nav-link {
  color: #007aff !important;
}
