.lab-detail-tooltip {
  max-width: 100%;

  .ant-tooltip-inner {
    width: 100%;
    color: @primary-text-color;
    background-color: #ffffff;
    border: solid 0.5px @border-tooltip;
    border-radius: 0;
    font-size: 0.625rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.1px;
    text-align: left;
  }

  .ant-tooltip-arrow {
    display: none;
  }
}
