.akac-header-horizontal-dark {
  .ant-menu-submenu-selected {
    border: none !important;

    > .ant-menu-submenu-title {
      color: @header-icon-color !important;
    }
  }

  .ant-menu-horizontal > .ant-menu-item,
  .ant-menu-horizontal > .ant-menu-submenu {
    border: none;
    margin: 0;
  }

  .ant-menu-horizontal {
    border: 0;

    .ant-menu-submenu-horizontal {
      border-radius: 0;

      &:hover {
        border: none;
        border-radius: 0;
      }
    }

    .ant-menu-item {
      margin-left: 20px;
      top: 5px;

      &:hover {
        color: @white-color !important;
        border: none;
        border-radius: 0;
      }
    }

    .ant-menu-item-selected,
    .ant-menu-item-active,
    .ant-menu-submenu-active {
      color: @white-color !important;
      border: none;
      border-radius: 0;

      > .ant-menu-submenu-title {
        color: @white-color !important;
      }
    }

    .ant-menu-item,
    .ant-menu-submenu-title {
      border-radius: 0;
      font-size: 0.875rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.14px;
      text-align: left;
      color: @header-icon-color;
      padding: 0 20px;
    }
  }
}
