@font-face {
  font-family: InterUI;
  src: local(InterUI-Regular), url("./inter-v2-vietnamese_latin-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: InterUI;
  src: local(InterUI-Medium), url("./inter-v2-vietnamese_latin-600.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: InterUI;
  src: local(InterUI-Medium), url("./inter-v2-vietnamese_latin-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: InterUI;
  src: local(InterUI-Bold), url("./inter-v2-vietnamese_latin-700.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: InterUI;
  src: local(InterUI-Black), url("./Inter-Medium-slnt=0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
.font-regular {
  font-weight: normal;
}
.font-medium {
  font-weight: 500;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-black {
  font-weight: 900;
}
